In [13]:
# Importing modules
import pandas as pd

# Read police Excel data into pandas ExcelFile
xl = pd.ExcelFile('../data/pfafinalmar22.xls')
# Store sheets as dataframes in dictionary
df = {}
for sheet in xl.sheet_names:
    df[f'{sheet}']= pd.read_excel(xl,sheet_name=sheet)
# Display sheet names
display(df.keys())
# Inspect first 10 rows of 'Table P1'
table_p1 = df['Table P1']
display(table_p1.head(10))
# Reassign header to row 5 and delete all rows before the header
header = table_p1.iloc[5]
table_p1.columns = header
table_p1_updated = table_p1.iloc[6:]
display(table_p1_updated.head())

dict_keys(['Cover_sheet', 'Table of Contents', 'Notes', 'Table P1', 'Table P1a Jan- Mar 22', 'Table P2', 'Table P2a Jan - Mar 22', 'Table P3', 'Table P4 previous', 'Table P5 ', 'Table P6 Jan-Mar', 'Table P7 ', 'Table P8', 'Table P9 ', 'Table P10 ', 'Table P11', 'Table P12 ', 'Table P13 '])

,"Table P1: Police recorded crime by offence group and police force area, England and Wales, number of offences, year ending March 2022 [note 1]",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,This worksheet contains one table. Some cells ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Link to notes worksheet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Police recorded crime data are not designated ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Link to Table of Contents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Source: Home Office - Police recorded crime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Area Code,Area Name,Total recorded crime\n (excluding fraud) [not...,Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Death or serious injury - unlawful driving,Sexual offences,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
6,K04000001,ENGLAND AND WALES [note 3],5335806,2103151,710,566603,812561,722574,703,194683,...,361045,88212,77465,274999,431619,531329,177644,49094,600170,113824
7,E92000001,ENGLAND,5017260,1976656,676,534562,766393,674358,667,183094,...,350053,82499,71064,260012,408495,493083,166258,46916,551306,107523
8,E12000001,North East,267956,105668,26,28384,37529,39705,24,10023,...,12348,1350,2939,17410,20288,35125,6417,2153,32014,6993
9,E23000013,Cleveland,73490,28061,10,6460,10414,11169,8,2518,...,3348,379,712,5570,5132,9952,2102,647,8346,1893

5,Area Code,Area Name,Total recorded crime\n (excluding fraud) [note 2],Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Death or serious injury - unlawful driving,Sexual offences,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
6,K04000001,ENGLAND AND WALES [note 3],5335806,2103151,710,566603,812561,722574,703,194683,...,361045,88212,77465,274999,431619,531329,177644,49094,600170,113824
7,E92000001,ENGLAND,5017260,1976656,676,534562,766393,674358,667,183094,...,350053,82499,71064,260012,408495,493083,166258,46916,551306,107523
8,E12000001,North East,267956,105668,26,28384,37529,39705,24,10023,...,12348,1350,2939,17410,20288,35125,6417,2153,32014,6993
9,E23000013,Cleveland,73490,28061,10,6460,10414,11169,8,2518,...,3348,379,712,5570,5132,9952,2102,647,8346,1893
10,E23000008,Durham,59145,24964,5,5693,8893,10357,16,2145,...,2326,261,411,3563,3646,9399,1389,351,5946,1600